In [1]:
import pandas as pd

In [2]:
sample_data = pd.read_csv('puzzle1(2).csv')

In [3]:
sample_data

   0  0.1  9  0.2  6  5  4  3  0.3
0  0    0  7    0  0  0  8  0    0
1  6    0  0    1  0  8  0  2    0
2  0    0  3    0  9  0  0  0    2
3  5    0  1    4  0  3  9  6    0
4  8    0  4    0  0  0  1  0    0
5  0    3  0    5  0  9  0  0    7
6  0    5  6    0  8  0  0  0    0
7  0    7  0    2  4  0  0  9    0

In [22]:
sample_data.iloc[0:8,2]

0    7
1    0
2    3
3    1
4    4
5    0
6    6
7    0
Name: 9, dtype: int64

In [35]:
notation = []

In [48]:
for i in range(8):
    for j in range(7):
        if sample_data.iloc[i,j] == 0:
            sample_data.iloc[i,j] = "x"
        notation.append(sample_data.iloc[i,j])

In [49]:
sample_data

   0 0.1  9 0.2  6  5  4  3 0.3
0  x   x  7   x  x  x  8  x   x
1  6   x  x   1  x  8  x  2   x
2  x   x  3   x  9  x  x  x   2
3  5   x  1   4  x  3  9  6   x
4  8   x  4   x  x  x  1  x   x
5  x   3  x   5  x  9  x  x   7
6  x   5  6   x  8  x  x  x   x
7  x   7  x   2  4  x  x  9   x

In [58]:
values = ''.join(str(v) for v in notation)

In [59]:
values

'xx7xxx86xx1x8xxx3x9xx5x14x398x4xxx1x3x5x9xx56x8xxxx7xxx86xx1x8xxx3x9xx5x14x398x4xxx1x3x5x9xx56x8xxxx7xxx86xx1x8xxx3x9xx5x14x398x4xxx1x3x5x9xx56x8xxx7x24xx'